<mat-label>UserName</mat-label>
<input
  required="required"
  type="text"
  [(ngModel)]="user.username"
  name="username"
/>

<mat-label>User Password</mat-label>
<input
  required="required"
  type="text"
  [(ngModel)]="user.password"
  name="password"
/>

<mat-label>First Name</mat-label>
<input
  required="required"
  type="text"
  [(ngModel)]="user.firstname"
  name="firstname"
/>

<mat-label>Last Name</mat-label>
<input
  required="required"
  type="text"
  [(ngModel)]="user.lastname"
  name="lastname"
/>

<mat-label>Email</mat-label>
<input required="required" type="text" [(ngModel)]="user.Email" name="Email" />

<mat-label>Phone Number</mat-label>
<input required="required" type="text" [(ngModel)]="user.phone" name="phone" />
